<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.net" version="6.1.0" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45-full" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Serilog" version="2.8.0" targetFramework="net45" /> <!-- net46 -->
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net45" />
  <package id="Serilog.Sinks.Elasticsearch" version="6.5.0" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net45" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.0" targetFramework="netstandard1.1" />
  <package id="System.Memory" version="4.5.2" targetFramework="netstandard1.1" /> <!-- net461 -->
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" /> <!-- net46 -->
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="netstandard1.0" />
</packages>